@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: xx-large;
    
}

body {
    color: #ededed;
    background: #000001;
}

.header {
    position: fixed;/* Navigation bar will stay at the top when the page is scrolled */
    top: 0;/* header position from the top*/
    left: 0;/*header position from the left side*/
    width: 100%; /*cover 100% of the width horizontally*/
    padding: 20px 10%;/*20px top and bottom and 10% of width on sides*/
    background: transparent;
    display: flex;/*spaces out content in different containers*/
    justify-content: space-between;/* Centers content horizontally */
    align-items: center;/* Centers content vertically */
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed; 
    text-decoration: none;/*gets rid of underline*/
    font-weight: 600;/*extra bold*/

}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;/*35px margin to the left of each element*/
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    display: flex;
    height:70vh;/*element takes up 100% of viewport heigh*/
    align-items:center ;/*elements ceters itself vertically in viewport height*/
    justify-content: flex-end;
    padding-right: 12%;
}



