@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    justify-content: flex-start;
    align-items: center;
    padding-top: 30%;
    padding-left: 10%;
    

}

h1 {
    font-size: xx-large;
    
}

body {
    color: #ededed;
    background: #000001;
}

.header {
    position: fixed;/* Navigation bar will stay at the top when the page is scrolled */
    top: 0;/* header position from the top*/
    left: 0;/*header position from the left side*/
    width: 100%; /*cover 100% of the width horizontally*/
    padding: 20px 10%;/*20px top and bottom and 10% of width on sides*/
    background: black;
    display: flex;/*spaces out content in different containers*/
    justify-content: space-between;/* Centers content horizontally */
    align-items: center;/* Centers content vertically */
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed; 
    text-decoration: none;/*gets rid of underline*/
    font-weight: 600;/*extra bold*/

}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;/*35px margin to the left of each element*/
    transition: .5s;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    display: flex;
    height:70vh;/*element takes up 100% of viewport height*/
    align-items:center ;/*elements centers itself vertically in viewport height*/
    justify-content: flex-end;
    padding-right: 12%;
    
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20%; /* Space between columns */
  }

  .home-sci {
    display: flex;/*puts logos side by side instead of stacked on eachother*/
    justify-content: space-between;
    padding-left: 150%;
    transform: translateY(-340px)
    
    
  }

  .home-sci a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    margin-right: 20px;
  } 
    
  
.home-sci a:hover,
.home-sci a.active {
    color: #00abf0;
    transition: .5s;
}

#profile-pic {
    height:auto; /* maintains aspect ration*/
    width:300px;
    padding-top: 50px;
    padding-left: 30px;
    justify-content: flex-start;
}

.home2 {
    display: flex;
    align-items:center ;/*elements centers itself vertically in viewport height*/
    justify-content: space-between;
    padding-right: 12%;
    
}

.me-content {
    height:100vh;
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

.boxicons {
    font-size: xxx-large;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 2%;

}
.skills{
    display:flex;
    
}

#icon-texts {
    display: flex;
    flex-direction: column;
    gap: 14%;
    padding-top: 3%;
    padding-left: 5px;
}

#p-tag {
    padding-left: 3%;
}

/*contact page styling*/
.contact-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;

}

.contact-inputs {
    width: 400px;
    height: 50px;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top:15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid rgb(193, 42, 185);
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: grey;
    border-radius: 50px;
    background-color: white;
    
}

.contact-right img{
    padding-right: 400px;
    width: 140%;
}

.hobbies h1{
    display: flex;
    justify-content: flex-end;
    padding-right: 25%;
    transform: translateY(-400px)
    
}


.hobbies p{
    padding-right: 10%;
    justify-content: flex-end;
    padding-left: 45%;
    transform: translateY(-395px)
    
}

.hobbies video{
    float: inline-end;
    padding-right: 30px;
    transform: translateY(-360px) 
    
}

.hobbies h2{
    float: right;
    margin-right:36% ;
    transform: translateY(-370px) 
    
}

.hobbies ul{
    width: 200vh;
    margin-left: 100vh;
    transform: translateY(-550px)
    

    
}
.hobbies ul li {
    margin-bottom: 10px; /* Adds spacing between items */
    font-size: 18px;
    font-family: Arial, sans-serif;
  }